.text {
  transform: translateY(4px);
  pointer-events: none;
  padding-top: 1px;
  color: var(--figma-color-text);
}

.text:before {
  pointer-events: none;
  display: block;
  height: 0;
  margin-top: -9px;
  content: '';
}

.numeric {
  font-variant-numeric: tabular-nums;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
