/* General */

html, body {
  margin: 0;
  background-color: var(--figma-color-bg);
  font-family: var(--font-stack);
  font-size: var(--font-size-xsmall);
  color: var(--figma-color-text);
}

iframe {
  border: 0;
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  display: flex;
}

/* Utilities */

.center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.expand {
  flex: 1;
}

/* Tabs */

.tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bar {
  padding: 4px 5px;
  box-shadow: 0 1px #0000001a;
  z-index: 5;
  display: flex;
  flex-direction: row;
}

.tab {
  font-family: var(--font-stack);
  font-size: var(--font-size-xsmall);
  line-height: var(--font-line-height);
  letter-spacing: var(--font-letter-spacing-pos-xsmall);
  font-weight: 500;
  background: none;
  color: #b3b3b3;
  padding: 0 8px;
  height: 32;
  border: 0;
  border-radius: 2px;
}

.tab.icon {
  padding: 0;
}

.tab[data-state="active"] {
  font-weight: 600;
  color: rgb(0, 0, 0);
}

.tab.icon[data-state="active"] {
  background-color: var(--figma-color-bg-pressed);
}

/* Components */

#copy {
  padding-top: 3px;
}

.editor {
  height: 100%;
}

.loading {
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: none;
  animation: rotating 1.0s linear infinite;
  -webkit-animation: rotating 1.0s linear infinite;
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M4.848%209.74l.477.15-.477-.15zm2.622-3.08a.5.5%200%200%200-.617-.787l.617.787zm10.677%201.99a7%207%200%200%201%20.838%203.803l.998.065a8%208%200%200%200-.958-4.346l-.878.478zm.838%203.803a7%207%200%200%201-1.324%203.662l.81.588a8%208%200%200%200%201.513-4.186l-.998-.065zm-1.324%203.662a7%207%200%200%201-3.076%202.388l.37.93a8%208%200%200%200%203.515-2.729l-.81-.588zm-3.076%202.388a7%207%200%200%201-3.876.375l-.184.983a8%208%200%200%200%204.43-.428l-.37-.93zm-3.876.375a7%207%200%200%201-3.477-1.755l-.68.732a8%208%200%200%200%203.973%202.005l.184-.983zm-3.477-1.755a7%207%200%200%201-2.001-3.341l-.967.255a8%208%200%200%200%202.287%203.818l.68-.732zm-2-3.34a7%207%200%200%201%20.094-3.893l-.954-.3a8%208%200%200%200-.107%204.449l.967-.255zm.094-3.893c.323-1.024.863-1.835%201.326-2.394.23-.278.44-.49.6-.632l.175-.157.044-.037c.01-.008.01-.008-.298-.402l-.31-.393-.026.02-.06.05-.21.2c-.175.165-.413.407-.674.722-.52.627-1.137%201.55-1.5%202.73l.954.3z%22%20fill%3D%22%23a5a5a5%22%2F%3E%3C%2Fsvg%3E"); 
}
