.label {
  display: flex;
  position: relative;
  align-items: center;
  height: 40px;
}

.label:hover .icon {
  opacity: 1;
}

.input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title,
.children {
  padding:
    var(--space-extra-small)
    var(--space-small)
    var(--space-extra-small)
    var(--space-medium);
}

.title {
  position: relative;
  font-weight: 400;
  font-size: 11.5px;
  color: var(--figma-color-text);
}

.icon {
  position: absolute;
  top: var(--space-extra-small);
  left: 0;
  opacity: 0;
  transform: rotate(-90deg);
}

.input:checked ~ .title .icon {
  transform: rotate(0deg);
}

.children {
  color: var(--figma-color-text);
}
